*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body, #root{
  width: 100%;
  height: 100%;
}

html{
  background-color: rgb(44, 43, 43);
  color: white;
}

button{
  padding: .8rem 1.2rem;
  border: none;
  border-radius: 1rem;
  margin: 1rem .5rem 0 .5rem;
  cursor: pointer;
}

#Delete{
  background-color: rgb(250, 54, 54);
}

#Update{
  background-color: rgb(88, 196, 88);
}

form{
  background-color: rgb(57, 57, 57);
  text-align: center;
}

input{
  height: 2rem;
  outline: none;
  border-radius: .5rem;
  border: none;
  margin: 1rem;
  padding: 0 .5rem;
  font-weight: 500;
}


.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.note{
  background-color: rgb(75, 75, 75);
  max-width: 20rem;
  min-width: 18.7rem;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}