*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body, #root{
  width: 100%;
  height: 100%;
}

html{
  background-color: rgb(40, 40, 40);
}



input{
  outline: none;
  height: 2.5rem;
  margin: 1rem;
  font-size: 1.5rem;
}

button{
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: rgb(26, 167, 26);
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  text-emphasis: none;
}



.note{
  background-color: rgb(69, 68, 68);
  color: white;
  padding: .5rem 1rem;
  max-width: 20rem;
  border-radius: 1rem;
  margin: 1rem;
}

#del{
  background-color: red;
  font-size: 1rem;
  cursor: pointer;
  padding: .5rem 1rem;
  margin-top: 1rem;
}

#upd{
  background-color: rgb(82, 82, 249);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: .5rem 1rem;
  margin-top: 1rem;
}